{% extends('default/blog.html.twig') %}


{% block loginform %}

    {% if not app.user %}
        {% render controller('HearWeGoHearWeGoBundle:User:userLogin') %}
    {% else %}



        <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}">
            </div>

            <div class="modal-body">
                <div class="form-group input-group">
                <span class="input-group-addon" id="id_addon"><img
                            src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon">
                    {% if app.user.role is defined %}
                        {{ app.user.name }}
                    {% else %}
                        {{ app.user.firstName }}
                    {% endif %}
                </span>

                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon" id="pass_addon"><img
                                src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}"
                                class="pass_icon"></span>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{{ path('user_logout') }}">
                    <button type="button" class="btn btn-danger">Sign Out</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>



    {% endif %}

{% endblock %}


{% block register %}

    {% if app.user %}
    {% else %}
        {% render controller('HearWeGoHearWeGoBundle:User:register') %}
    {% endif %}
{% endblock %}

{% block reglogbutton %}

    <div class="row my-reg-log-bar">
        <div class="col-md-1">
            <ul class="my-reg-log-bar">
                {% if app.user %}
                    {% if app.user.name is defined %}
                        <a href="{{ path('company_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_submit') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                    {% else %}
                        <a href="{{ path('edit_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                    {% endif %}
                {% else %}
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form"
                                          src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                {% endif %}
                <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
            </ul>
        </div>
    </div>


{% endblock %}


{% block articlecol1 %}
    {% for article in articles1 %}
        <div class="article row">
            <div class="image col-md-5">
                <img src="{{ article.getWebPath }}">
            </div>
            <div class="text col-md-7">
                <div class="title">
                    <h4><b>{{ article.title }}</b></h4>
                </div>
                <div class="date">
                    <i>{{ article.getCreatedAt|date('Y-m-d') }}</i>
                </div>
                <div class="sub-content">
                    <p> {{ article.content|slice(0,15)|raw }} ...</p>
                    <a href="{{ path('article', { 'id': article.getID }) }}">Continue reading...</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block articlecol2 %}
    {% for article in articles2 %}
        <div class="article row">
            <div class="image col-md-5">
                <img src="{{ article.getWebPath }}">
            </div>
            <div class="text col-md-7">
                <div class="title">
                    <h4><b>{{ article.title }}</b></h4>
                </div>
                <div class="date">
                    <i>{{ article.getCreatedAt|date('Y-m-d') }}</i>
                </div>
                <div class="sub-content">
                    <p> {{ article.content|slice(0,15)|raw }} ...</p>
                    <a href="{{ path('article', { 'id': article.getID }) }}">Continue reading...</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
    <div class="text-center">
        <ul class="pagination" >
            <li>
                <a href="{{ path('blog',{'page':1}) }}" aria-label="First Page">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {#<li><a href="#">1</a></li>#}
            {#<li><a href="#">2</a></li>#}
            {#<li><a href="#">3</a></li>#}
            {#<li><a href="#">4</a></li>#}
            {#<li><a href="#">5</a></li>#}
            {% if current>1 %}
                <li>
                    <a href="{{ path('blog',{'page':current-1}) }}">
                        <span aria-hidden="true">Prev</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..numPages %}
                <li><a href="{{ path('blog',{'page':i}) }}">{{ i }}</a></li>
            {% endfor %}
            {% if current<numPages %}
                <li>
                    <a href="{{ path('blog',{'page':current+1}) }}">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('blog',{'page':numPages}) }}" aria-label="Last Page">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}