{% extends('admin/admin.html.twig') %}


{% block pagecssplugin %}
{% endblock %}


{% block mainpageheader %}
    <h1 class="page-heading">DESTINATION MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Add Destination</h3>
{% endblock %}


{% block mainpagecontainer %}
    {% for flashMessage in app.session.flashbag.get('status') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    <div class="col-md-7 block">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control', 'placeholder': 'Enter Destination Name'}  }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.region) }}
            {{ form_widget(form.region, { 'attr' : { 'class' : 'form-control', 'placeholder': 'Enter Name'}  }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_widget(form.location, { 'attr' : { 'class' : 'form-control', 'placeholder': 'Enter Location'}  }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.article) }}
            {{ form_widget(form.article, { 'id':'articlecontent', 'attr' : { 'class' : 'form-control input-lg','rows': '25', 'placeholder': 'Content goes here ...', 'style':'display: none;', 'visibility':'hidden'}  }) }}
            <div id="summernote"></div>
        </div>
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-primary'}  }) }}

    </div>
    {{ form_end(form) }}
{% endblock %}


{% block pagejsplugin %}
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/summernote.css') }}">
    <script src="{{ asset('bundles/hearwegohearwego/js/summernote.min.js') }}"></script>
{% endblock %}


{% block pagejscode %}
    <script>
        $(function () {
            // Init page helpers (Summernote + CKEditor plugins)
            App.initHelpers([]);
            $(" #article_type_destination option:first-child").html("Travel Guide");
            $(" #imgpath ").html("Set Image");
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewHolder').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#article_type_img").change(function () {
            readURL(this);
        });

        $('#summernote').summernote({
            height: 300,
            onKeyup: function (e) {
                $("#articlecontent").val($("#summernote").code());
            }
        });

    </script>
{% endblock %}







