{% extends('admin/admin.html.twig') %}

{% block mainpageheader %}
    <h1 class="page-heading">USER MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Users</h3>
{% endblock %}


{% block mainpagecontainer %}
    <div class="block">
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Phone</th>
                    <th style="width:15%">Registration Date</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-center">{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.dateOfBirth|date('Y-m-d') }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.createdAt|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('info_user',{'id':user.id}) }}">
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="See details"><i class="fa fa-street-view"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}