{% extends('admin/admin.html.twig') %}

{% block mainpageheader %}
    <h1 class="page-heading">COMPANY MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Companies</h3>
{% endblock %}

{% block mainpagecontainer %}
    <div class="block">
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th style="width:15%">Name</th>
                    <th style="width:15%">Email</th>
                    <th style="width:15%">Phone</th>
                    <th style="width:40%">Address</th>
                    <th style="width:15%">Registration Date</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td class="text-center">{{ company.id }}</td>
                        <td>{{ company.name }}</td>
                        <td>{{ company.email }}</td>
                        <td>{{ company.phone }}</td>
                        <td>{{ company.address }}</td>
                        <td>{{ company.createdAt|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}