{% extends('admin/admin.html.twig') %}



{% block mainpageheader %}
    <h1 class="page-heading">TOUR MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Choose one tour to approve</h3>
{% endblock %}


{% block mainpagecontainer %}
    <h3 class="block-title">Brief details</h3>
    <div class="block">
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th style="width:15%">Name</th>
                    <th style="width:15%">Company</th>
                    <th style="width:15%">Destination</th>
                    <th style="width:20px">Start Date</th>
                    <th style="width:40%">Info</th>
                    <th style="width:20px">Submission Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for tour in tours %}
                    <tr>
                        <td class="text-center">{{ tour.id }}</td>
                        <td>{{ tour.name }}</td>
                        <td>{{ tour.company.name }}</td>
                        <td>{{ tour.destination.name }}</td>
                        <td>{{ tour.startdate|date('Y-m-d') }}</td>
                        <td>
                            {% set seg=tour.info|split('.') %}
                            {{ seg[0]|raw }}
                        </td>
                        <td>{{ tour.createdAt|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('approve_one_tour',{'id':tour.id}) }}">
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="See details and approve"><i class="glyphicon glyphicon-check"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}