{% extends(':company:tour_base.html.twig') %}



{% block loginform %}

    {% if not app.user %}
        {% render controller('HearWeGoHearWeGoBundle:User:userLogin') %}
    {% else %}

        <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}">
            </div>

            <div class="modal-body">
                <div class="form-group input-group">
                <span class="input-group-addon" id="id_addon"><img
                            src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon">
                    {% if app.user.role is defined %}
                        {{ app.user.name }}
                    {% else %}
                        {{ app.user.firstName }}
                    {% endif %}
                </span>

                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon" id="pass_addon"><img
                                src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}"
                                class="pass_icon"></span>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{{ path('user_logout') }}">
                    <button type="button" class="btn btn-danger">Sign Out</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>



    {% endif %}

{% endblock %}


{% block register %}

    {% if app.user %}
    {% else %}
        {% render controller('HearWeGoHearWeGoBundle:User:register') %}
    {% endif %}
{% endblock %}

{% block reglogbutton %}

    <div class="row my-reg-log-bar">
        <div class="col-md-1">
            <ul class="my-reg-log-bar">
                {% if app.user %}
                    {% if app.user.name is defined %}
                        <a href="{{ path('company_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_submit') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                    {% else %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <a href="{{ path('admin_index') }}">
                                <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                                </li>
                            </a>
                        {% endif %}
                        <a href="{{ path('edit_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>

                    {% endif %}
                {% else %}
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form"
                                          src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                {% endif %}
                <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
            </ul>
        </div>
    </div>


{% endblock %}




{% block coverflow %}

    {% include('@HearWeGoHearWeGo/Default/SubView/coverflow.html.twig') with { 'photos': photos } %}
{% endblock %}



{% block sliderTitle %}

    <p class="text-center" style="text-align: center">Tour {{ tour.getName }} </p>
{% endblock %}




{% block detail %}
    {{ tour.info|raw }}
{% endblock %}


{% block link %}
    <a class="block">
        <div class="block-header">
            <h3 class="block-title text-center" style="text-transform: uppercase">{{ tour.company.name }} company</h3>
        </div>
        <div class="block-content block-content-full text-center bg-image" style="background-color: #F9F9F9;" >
            <div>
                <table class="table  table-hover">
                    <tr class="">
                        <td class="">price</td>
                        <td class="">{{ tour.price }} $ </td>

                    </tr>
                    <tr class="">
                        <td class="">Start date</td>
                        <td class="">{{ tour.startdate|date('d-M-Y') }}</td>
                    </tr>
                    <tr class="">
                        <td class="">End date</td>
                        <td class="">{{ tour.enddate|date('d-M-Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="block">
            <div class="row items-push text-center">
                <div class="col-xs-6" onclick="">
                    <div class="push-5"><img src="{{ asset('bundles/hearwegohearwego/images/tour/briefcase.png') }}"></div>
                    <div class="h5 font-w300 text-muted">Comapany Info</div>
                </div>
                <div class="col-xs-6">
                    <div class="push-5"><img src="{{ asset('bundles/hearwegohearwego/images/tour/camera.png') }}"></div>
                    <div class="h5 font-w300 text-muted">Order Tour</div>
                </div>
            </div>
        </div>
    </a>
{% endblock %}









