<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Destination Page</title>
    <link href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/hearwegohearwego/css/destination.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('bundles/hearwegohearwego/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/destination.js') }}"></script>
</head>

<body>
<div id="toppage">
    <img src="{{ asset('bundles/hearwegohearwego/images/banner.png') }}" style="width:100%">
</div>
<div class="container">
    <div class="row"  style="margin-bottom: 5px;">
        <div id="area" class="col-md-3">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/1.png') }}" id="area1">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/2.png') }}" id="area2">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/3.png') }}" id="area3">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/4.png') }}" id="area4">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/5.png') }}" id="area5">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/6.png') }}" id="area6">
            <img src="{{ asset('bundles/hearwegohearwego/images/destination/7.png') }}" id="area7">
        </div>
        <div id="city" class="col-md-3">
            <nav id="place1" hidden>
                <ul>
                    <li><a href="#">Sa Pa</a></li>
                    <li><a href="#">Fansipan</a></li>
                </ul>
            </nav>
            <nav id="place2" hidden>
                <ul>
                    <li><a href="#">Ho Guom</a></li>
                    <li><a href="#">Ha Long</a></li>
                </ul>
            </nav>
            <nav id="place3" hidden>
                <ul>
                    <li><a href="#">Cau song Han</a></li>
                    <li><a href="#">Co do Hue</a></li>
                </ul>
            </nav>
            <nav id="place4" hidden>
                <ul>
                    <li><a href="#">Bien Nha Trang</a></li>
                    <li><a href="#">Bien Mui Ne</a></li>
                </ul>
            </nav>
            <nav id="place5" hidden>
                <ul>
                    <li><a href="#">Cao nguyen Lang Biang</a></li>
                    <li><a href="#">Thac Cam Ly</a></li>
                </ul>
            </nav>
            <nav id="place6" hidden>
                <ul>
                    <li><a href="#">Dinh Doc lap</a></li>
                    <li><a href="#">Nha tho Phuc Nhac</a></li>
                </ul>
            </nav>
            <nav id="place7" hidden>
                <ul>
                    <li><a href="#">Mui Ca Mau</a></li>
                    <li><a href="#">Phu Quoc</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!--Footer-->
<div class="my-footer no-offset">
    <div class="menu row no-offset">
        <div class="left-side col-md-8 text-center">
            <img src="{{ asset('bundles/hearwegohearwego/images/homepage/menu-left.png') }}">
        </div>
        <div class="right-side col-md-4">
            <div class="assist">
                <h4><b>ASSISTANCE</b></h4>
                <a href="#">Contact Us!</a><br />
                <a href="#">About Us!</a>
            </div>
            <div class="hotline">
                <h5>Hotline</h5>
                <h3><b>0123456789</b></h3>
                <p style="margin-bottom: 0px">Responsible for content: KAPPA team at GPAT Company </p>
                <p style="margin-bottom: 0px">Address: 268 Ly Thuong Kiet Ward 15 District 10 HCMC</p>
                <p class="last">Business lisence No 12XXXX/NGCB</p>
            </div>
        </div>
    </div>
    <div class="social row no-offset">
        <div class="left-side col-md-8 row">
            <div class="chanel"><a><img src="{{ asset('bundles/hearwegohearwego/images/homepage/twitter.png') }}"></a></div>
            <div class="chanel"><a><img src="{{ asset('bundles/hearwegohearwego/images/homepage/youtube.png') }}"></a></div>
            <div class="chanel"><a><img src="{{ asset('bundles/hearwegohearwego/images/homepage/googleplus.png') }}"></a></div>
            <div class="chanel"><a><img src="{{ asset('bundles/hearwegohearwego/images/homepage/facebook.png') }}"></a></div>
        </div>
        <div class="right-side col-md-4">
            <img src="{{ asset('bundles/hearwegohearwego/images/homepage/logo-bot.png') }}">
        </div>
    </div>
    <div class="end-line"></div>
</div>
<!--End Footer-->
<!--Navigation bar-->
<div class="row my-navbar">
    <div class="col-md-1">
        <ul class="my-navbar">
            <a href="{{ path('homepage') }}">
                <li class="item"><img class="icon"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/home.png') }}"
                                      alt="Home icon"></li>
            </a>
            <a href="{{ path('map') }}">
                <li class="item"><img class="icon"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/map.png') }}"
                                      alt="Map icon"></li>
            </a>
            <a href="{{ path('destination') }}">
                <li class="item"><img class="icon"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/nav-destination.png') }}"
                                      alt="Destination icon"></li>
            </a>
            <a href="{{ path('blog') }}">
                <li class="item"><img class="icon"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/news.png') }}"
                                      alt="News icon"></li>
            </a>
        </ul>
    </div>
</div>
<!--End Navigation bar-->
<!--Login/Reg bar-->
<div class="row my-reg-log-bar">
    <div class="col-md-1">
        <ul class="my-reg-log-bar">
            <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
            <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
        </ul>
    </div>
</div>
<!--EndLogin/Reg bar-->
<!--Register Form-->
<div class="my-reg-form modal fade" role="dialog">
    <div class="modal-dialog">
        <!--Form content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/title.png') }}">
            </div>
            <div class="modal-body">
                <button class="fb_signup" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fbsignup.png') }}"></button>
                <form>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" id="Email" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            <input type="password" class="form-control" id="Password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" id="confPass" placeholder="Enter Password again">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="Fname" placeholder="First name">
                            <!-- label>Last Name</label>
                            <input type="text" class="form-control" id="Lname" placeholder="Last name"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="Lname" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <select id="year"></select>
                        <select id="month"></select>
                        <select id="day"></select>
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" class="form-control" id="PhoneNum" placeholder="Telephone number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="reg-submit btn btn-default"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/signup_btn.png') }}"></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Register form-->

<!--Login form-->
<div class="my-log-form modal fade" role="dialog">
    <div class="modal-dialog">
        <!--Form content-->
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                    <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/login_title.png') }}">
                </div>

                <div class="modal-body">
                    <button class="fb_signin" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fb_login.png') }}"></button>
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="id_addon"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon"></span>
                        <input type="email" class="form-control" id="Email" placeholder="Email" aria-describedby="id_addon">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="pass_addon"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}" class="pass_icon"></span>
                        <input type="password" class="form-control" id="Password" placeholder="Password" aria-describedby="pass_addon">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" ><a href="#">Forgot Password</a></div>
                        <div class="form-group col-md-6">
                            <label><input type="checkbox" name="remember"> Remember Me!</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="log-submit btn btn-default"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/signin_btn.png') }}"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End login form-->

</body>

</html>