<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/detail/detail.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="my-page container .no-offset">

        <div class=" gallery">
            <div class="coverflow">
                {% block coverflow %}

                {% endblock %}
            </div>
            <div class="name text-center">
                <div class="caption">
                    {% block sliderTitle %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="container row content">
            <div class="info col-md-8">
                <div class="title">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/detail_title.png') }}">
                </div>
                <div class="article">
                    {% block detail %}

                    {% endblock %}
                </div>
            </div>
            <div class="audio-map col-md-4">

                {% block audioblock %}

                {% endblock %}
                {# List Tour#}

                <div class="listtour">
                    <div class="title">
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/listtour_title.png') }}">
                    </div>
                    <div class="tours">

                        {% block listtour %}

                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row comments ">
            <div class="col-md-8">
                <div class="title">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/comment_title.png') }}">
                </div>
                {% block comments %}

                {% endblock %}

            </div>
        </div>
        <div class="divider"></div>

        {# Relative Article#}
        <div class="articles row">
            <div class="title text-center">
                <img src="{{ asset('bundles/hearwegohearwego/images/detail/article_title.png') }}">
            </div>
            <div class="article row">

                {% block relativearticle %}

                {% endblock %}
            </div>
        </div>
        <!--Navigation bar-->
        <div class="row my-navbar">
            <div class="col-md-1">
                <ul class="my-navbar">
                    <a href="{{ path('homepage') }}">
                        <li class="item"><img class="icon"
                                              src="{{ asset('bundles/hearwegohearwego/images/homepage/home.png') }}"
                                              alt="Home icon"></li>
                    </a>
                    <a href="{{ path('map') }}">
                        <li class="item"><img class="icon"
                                              src="{{ asset('bundles/hearwegohearwego/images/homepage/map.png') }}"
                                              alt="Map icon"></li>
                    </a>
                    <a href="{{ path('destination') }}">
                        <li class="item"><img class="icon"
                                              src="{{ asset('bundles/hearwegohearwego/images/homepage/nav-destination.png') }}"
                                              alt="Destination icon"></li>
                    </a>
                    <a href="{{ path('blog') }}">
                        <li class="item"><img class="icon"
                                              src="{{ asset('bundles/hearwegohearwego/images/homepage/news.png') }}"
                                              alt="News icon"></li>
                    </a>
                </ul>
            </div>
        </div>
        <!--End Navigation bar-->


        <!--Login/Reg bar-->
        {% block reglogbutton %}
            <div class="row my-reg-log-bar">
                <div class="col-md-1">
                    <ul class="my-reg-log-bar">
                        <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                        <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        <!-- EndLogin/Reg bar -->
        <!-- Register Form -->
        <div class="my-reg-form modal fade" role="dialog">
            <div class="modal-dialog">
                <!--Form content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                        <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/title.png') }}">
                    </div>
                    <div class="modal-body">
                        <button class="fb_signup" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fbsignup.png') }}"></button>
                        {% block register %}

                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
        <!--End Register form-->

        <!--Login form-->
        <div class="my-log-form modal fade" role="dialog">
            <div class="modal-dialog">
                <!--Form content-->
                <div class="modal-content">
                    {% block loginform %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!--End login form-->
    </div>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/reflection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/jquery.interpolate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/jquery.coverflow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/detail.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/homepage/select-birthday.js') }}"></script>
    <script type="text/javascript">
        var today= new Date();
        var yy= today.getFullYear();
        var dd=today.getDate();
        var mm=today.getMonth()+1;
        selectBirthday("#year", "#month", "#day", {
            year : 1938,
            month : mm,
            day : dd,
            yearRange : 75,
            endYear : yy
        });
    </script>

</body>
</html>