<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% block title %}
        <title>Hear we go</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/map/map.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script>

        var currlat ;
        var currlong ;
        function initialize() {

            var markers = [];
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            var defaultBounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng(12.238,109.1967),
                    new google.maps.LatLng(12.238,109.1967));
            map.fitBounds(defaultBounds);

            // Create the search box and link it to the UI element.
            var input = /** @type {HTMLInputElement} */(
                    document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var searchBox = new google.maps.places.SearchBox(
                    /** @type {HTMLInputElement} */(input));

            // [START region_getplaces]
            // Listen for the event fired when the user selects an item from the
            // pick list. Retrieve the matching places for that item.
            google.maps.event.addListener(searchBox, 'places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                for (var i = 0, marker; marker = markers[i]; i++) {
                    marker.setMap(null);
                }

                // For each place, get the icon, place name, and location.
                markers = [];
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0, place; place = places[i]; i++) {
                    var image = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(45, 25)
                    };

                    // Create a marker for each place.
                    var img="{{ asset('bundles/hearwegohearwego/images/map/marker-small.png') }}"
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: img,
                        title: place.name,
                        position: place.geometry.location
                    });

                    markers.push(marker);

                    bounds.extend(place.geometry.location);
                }

                map.fitBounds(bounds);
            });
            // [END region_getplaces]

            // Bias the SearchBox results towards places that are within the bounds of the
            // current map's viewport.

            google.maps.event.addListener(map, 'bounds_changed', function() {
                var bounds = map.getBounds();
                searchBox.setBounds(bounds);
            });

            google.maps.event.addListener(markers, 'title_changed', function( event ){
                console.log(  this.getPosition().lat()  );
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div class="my-page container-fluid no-inset">
        <div class="col-md-12">
            <!--Banner/header-->
            <div class="row my-banner">
                <!--<div class="col-md-12">-->
                <img src="{{ asset('bundles/hearwegohearwego/images/homepage/banner.png') }}"/>
                <!--</div>-->
            </div>
            <!--End Banner/header-->

            <!--Content-->
            <div class="row my-content">
                <div class="col-md-12 no-inset">
                    <!--Search toolbar-->
                    <div class="row my-search no-offset ">
                        <div class="col-md-12">
                            <div class="input-group inputgroup ">
                                <span class="input-group-addon inputgroup-addon">
                                    <button class="btn btn-default btn-tape" type="submit"></button>
                                </span>
                                <input type="text" class="form-control" aria-label="search...">
                                <span class="input-group-addon inputgroup-addon">
                                    <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" aria-haspopup="true"></button>
                                    <div class="filter dropdown-menu col-md-6" role="menu" aria-labelledby="filter_btn">
                                        <div role="presentation" class="row criteria no-offset">
                                            <div class="picture text-center col-md-3">
                                                <img class="price" src="{{ asset('bundles/hearwegohearwego/images/searchbar/price.png') }}">
                                            </div>
                                            <div class="col-md-9 row tick">
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  <1.000.000</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  <3.000.000</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  <5.000.000</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  >5.000.000</i></p>
                                                </label>
                                            </div>
                                        </div>
                                        <div role="presentation" class="divider"></div>
                                        <div role="presentation" class="row criteria no-offset">
                                            <div class="picture text-center col-md-3">
                                                <img class="discount" src="{{ asset('bundles/hearwegohearwego/images/searchbar/discount.png') }}">
                                            </div>
                                            <div class="col-md-9 row tick">
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  0-20%</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  20-40%</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  40-60%</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>  >60%</i></p>
                                                </label>
                                            </div>
                                        </div>
                                        <div role="presentation" class="divider"></div>
                                        <div role="presentation" class="row criteria no-offset">
                                            <div class="picture text-center col-md-3">
                                                <img class="destination" src="{{ asset('bundles/hearwegohearwego/images/searchbar/destination.png') }}">
                                            </div>
                                            <div class="col-md-9 row tick">
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>Ha Noi</i></p>
                                                    <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                                    <p><input type="checkbox" ><i>Da Nang</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>Ha Noi</i></p>
                                                    <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                                    <p><input type="checkbox" ><i>Da Nang</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>Ha Noi</i></p>
                                                    <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                                    <p><input type="checkbox" ><i>Da Nang</i></p>
                                                </label>
                                                <label class="col-md-3">
                                                    <p><input type="checkbox" ><i>Ha Noi</i></p>
                                                    <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                                    <p><input type="checkbox" ><i>Da Nang</i></p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End content-->
            <div class="row show">
                <div class="left-side col-md-3">
                    <div class="left-side-top">
                        <div class="text">
                            <h4>This is the title</h4>
                            <p>This is a sample, random text...</p>
                        </div>
                        <div class="pic">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                        </div>
                    </div>
                    <div class="left-side-bot no-offset">
                        <div class="tours">
                            <div class="tour row">
                                <div class="logo col-md-5">
                                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                                </div>
                                <div class="info col-md-7">
                                    <p class="detail">A little information of the tour</p>
                                    <h4 class="text-center">1.000.000 vnd</h4>
                                </div>
                            </div>

                            <div class="tour row">
                                <div class="logo col-md-5">
                                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                                </div>
                                <div class="info col-md-7">
                                    <p class="detail">A little information of the tour</p>
                                    <h4 class="text-center">1.000.000 vnd</h4>
                                </div>
                            </div>

                            <div class="tour row">
                                <div class="logo col-md-5">
                                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                                </div>
                                <div class="info col-md-7">
                                    <p class="detail">A little information of the tour</p>
                                    <h4 class="text-center">1.000.000 vnd</h4>
                                </div>
                            </div>

                            <div class="tour row">
                                <div class="logo col-md-5">
                                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                                </div>
                                <div class="info col-md-7">
                                    <p class="detail">A little information of the tour</p>
                                    <h4 class="text-center">1.000.000 vnd</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div class="col-md-8" id="map-canvas"></div>
            </div>
            <!--Navigation bar-->
            <div class="row my-navbar">
                <div class="col-md-1">
                    <ul class="my-navbar">
                        <a href="{{ path('homepage') }}">
                            <li class="item"><img class="icon"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/home.png') }}"
                                                  alt="Home icon"></li>
                        </a>
                        <a href="{{ path('map') }}">
                            <li class="item"><img class="icon"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/map.png') }}"
                                                  alt="Map icon"></li>
                        </a>
                        <a href="{{ path('destination') }}">
                            <li class="item"><img class="icon"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/nav-destination.png') }}"
                                                  alt="Destination icon"></li>
                        </a>
                        <a href="{{ path('blog', { 'page': 1 } ) }}">
                            <li class="item"><img class="icon"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/news.png') }}"
                                                  alt="News icon"></li>
                        </a>
                    </ul>
                </div>
            </div>
            <!--End Navigation bar-->


            <!--Login/Reg bar-->
            {% block reglogbutton %}
                <div class="row my-reg-log-bar">
                    <div class="col-md-1">
                        <ul class="my-reg-log-bar">
                            <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                            <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
            <!-- EndLogin/Reg bar -->
            <!-- Register Form -->
            <div class="my-reg-form modal fade" role="dialog">
                <div class="modal-dialog">
                    <!--Form content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                            <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/title.png') }}">
                        </div>
                        <div class="modal-body">
                            <button class="fb_signup" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fbsignup.png') }}"></button>
                            {% block register %}

                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>
            <!--End Register form-->

            <!--Login form-->
            <div class="my-log-form modal fade" role="dialog">
                <div class="modal-dialog">
                    <!--Form content-->
                    <div class="modal-content">
                        {% block loginform %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!--End login form-->
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/homepage/select-birthday.js') }}"></script>
    <script type="text/javascript">
//        console.log("lat: " + currlat + " currlong " + currlong);
    </script>
</body>
</html>