{% extends('admin/admin.html.twig') %}

{% block mainpageheader %}
    <h1 class="page-heading">ARTICLE MANAGEMENT</h1>
{% endblock %}

{% block pagecssplugin %}
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Articles</h3>
{% endblock %}


{% block mainpagecontainer %}
    <h3 class="block-title">Brief details</h3>
    <div class="block">
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Name</th>
                    <th class="hidden-xs" style="width: 70%">Content</th>
                    <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td class="text-center">{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>
                            {% set seg=article.content|split('.') %}
                            {{ seg[0]|raw }}
                        </td>
                        <td>
                            <a href="{{ path('edit_article',{'id':article.id}) }}"><button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></button></a>
                            <a href="{{ path('delete_article',{'id':article.id}) }}"><button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block pagejsplugin %}
{% endblock %}


{% block pagejscode %}
{% endblock %}
