{% extends('admin/admin.html.twig') %}

{% block mainpageheader %}
    <h1 class="page-heading">GALLERY MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">All Images</h3>
{% endblock %}


{% block mainpagecontainer %}
    <div class="block">
        <div class="block-content">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th style="width:20%">Destination</th>
                    <th class="hidden-xs" style="width: 60%">Image</th>
                    <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td class="text-center">{{ image.id }}</td>
                        <td>{{ image.destination.name }}</td>
                        <td><img id="previewHolder" width="50%" height="auto" src="{{ image.getWebPath() }}"/></td>
                        <td>
                            <a href="{{ path('edit_media',{'id':image.id}) }}"><button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></button></a>
                            <a href="{{ path('delete_media',{'id':image.id}) }}"><button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}