{% extends('default/detail.html.twig') %}

{% block title %}
    <title>{{ destination.name|upper }}</title>
{% endblock %}


{% block cssinclude %}
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/payment/payment.css') }}">
{% endblock %}

{% block loginform %}


    {% if not app.user %}
        {% render controller('HearWeGoHearWeGoBundle:User:userLogin') %}
    {% else %}

        <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}">
            </div>

            <div class="modal-body">
                <div class="form-group input-group">
                <span class="input-group-addon" id="id_addon"><img
                            src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon">
                    {% if app.user.role is defined %}
                        {{ app.user.name }}
                    {% else %}
                        {{ app.user.firstName }}
                    {% endif %}
                </span>

                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon" id="pass_addon"><img
                                src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}"
                                class="pass_icon"></span>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{{ path('user_logout') }}">
                    <button type="button" class="btn btn-danger">Sign Out</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>



    {% endif %}

{% endblock %}



{% block register %}

    {% if app.user %}
    {% else %}
        {% render controller('HearWeGoHearWeGoBundle:User:register') %}
    {% endif %}
{% endblock %}



{% block reglogbutton %}

    <div class="row my-reg-log-bar">
        <div class="col-md-1">
            <ul class="my-reg-log-bar">
                {% if app.user %}
                    {% if app.user.name is defined %}
                        <a href="{{ path('company_manage') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/Tour.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_submit') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/Submit.png') }}">
                            </li>
                        </a>
                    {% else %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <a href="{{ path('admin_index') }}">
                                <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                      src="{{ asset('bundles/hearwegohearwego/images/Manage.png') }}">
                                </li>
                            </a>
                        {% endif %}
                        <a href="{{ path('edit_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>

                    {% endif %}
                {% else %}
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form"
                                          src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                {% endif %}
                <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
            </ul>
        </div>
    </div>


{% endblock %}


{% block coverflow %}

    {% include('@HearWeGoHearWeGo/Default/SubView/coverflow.html.twig') with { 'photos': photos } %}
{% endblock %}



{% block sliderTitle %}

    <p class="text-center" style="text-align: center">{{ destination.getName }}</p>
{% endblock %}


{% block detail %}
    {{ destination.getArticle|raw }}
{% endblock %}

{% block audioblock %}
    {% if destination.getAudio is not null %}
        {% include('@HearWeGoHearWeGo/Default/SubView/audioblock.html.twig') with { 'audio': destination.getAudio } %}
    {% endif %}
{% endblock %}

{% block listtour %}
    {% include('@HearWeGoHearWeGo/Default/SubView/listtour.html.twig') with { 'tours': tours } %}
{% endblock %}


{% block comments %}
    {% for comment in comments %}
        {% include('@HearWeGoHearWeGo/Default/SubView/comment.html.twig') with { 'comments': comment } %}
    {% endfor %}

    {% if app.user.firstName is defined %}
        <div class="new-comment row">
            <div class="avatar col-md-2">
                <img src="{{ asset('bundles/hearwegohearwego/images/detail/avatar.png') }}">
            </div>
            <div class="col-md-10 row">
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm.content, { 'attr': { 'class': 'text form-control', 'placeholder': 'Your comment here ...'} }) }}
                {{ form_widget(commentForm.submit, { 'attr': { 'class': 'col-md-2 btn send_btn btn-primary', 'value': 'Comment' } } ) }}
                {{ form_end(commentForm) }}
            </div>
        </div>
    {% endif %}


{% endblock %}


{% block relativearticle %}
    {% for article in destination.articles %}
        {% include('@HearWeGoHearWeGo/Default/SubView/relativearticle.html.twig') with {'article':article} %}
    {% endfor %}
{% endblock %}

