<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/detail/detail.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="my-page container .no-offset">
        <div class=" gallery">
            <div class="coverflow">
                <div class="cover">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                </div>
                <div class="cover">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh2.jpg') }}">
                </div>
                <div class="cover">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                </div>
                <div class="cover">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">
                </div>
                <div class="cover">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh5.jpg') }}">
                </div>
            </div>
            <div class="name text-center">
                <div class="caption">
                    <p class="text-center"><b>Destination name</b></p>
                </div>
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="container row content">
            <div class="info col-md-8">
                <div class="title">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/detail_title.png') }}">
                </div>
                <div class="article">
                    bndsnmndsvndfn
                </div>
            </div>
            <div class="audio-map col-md-4">
                <div class="audio">
                    <audio controls>
                        <source src="#" type="audio/mpeg">
                        Your browser does not support this audio type
                    </audio>
                </div>
                <div class="map">
                    <img class="map-img" src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">
                    <div class="download">
                        <img class="icon" src="{{ asset('bundles/hearwegohearwego/images/detail/download.png') }}">
                    </div>
                </div>
                <div class="listtour">
                    <div class="title">
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/listtour_title.png') }}">
                    </div>
                    <div class="tours">
                        <div class="row tour">
                            <div class="logo col-md-5">
                                <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
                            </div>
                            <div class="info col-md-7">
                                1.000.000 VND
                            </div>
                        </div>
                        <div class="row tour">
                            <div class="logo col-md-5">
                                <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
                            </div>
                            <div class="info col-md-7">
                                1.000.000 VND
                            </div>
                        </div>
                        <div class="row tour">
                            <div class="logo col-md-5">
                                <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
                            </div>
                            <div class="info col-md-7">
                                1.000.000 VND
                            </div>
                        </div>
                        <div class="row tour">
                            <div class="logo col-md-5">
                                <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
                            </div>
                            <div class="info col-md-7">
                                1.000.000 VND
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comments ">
            <div class="col-md-8">
                <div class="title">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/comment_title.png') }}">
                </div>
                <div class="comment row">
                    <div class="avatar col-md-3">
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/avatar.png') }}">
                    </div>
                    <div class="cmt col-md-9">
                        <div class="head row">
                            <h3 class="username col-md-5">User Name Here</h3>
                            <span class="date col-md-4">01/01/2015</span>
                        </div>
                        <div class="body">
                            <p>ndfsnmfsdnmbsdfnmbnmfsbnbfnmbfsnmbfdsnmbsdfmbfbnmm</p>
                        </div>
                    </div>
                </div>
                <div class="comment row">
                    <div class="avatar col-md-3">
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/avatar.png') }}">
                    </div>
                    <div class="cmt col-md-9">
                        <div class="head row">
                            <h3 class="username col-md-5">User Name Here</h3>
                            <span class="date col-md-4">01/01/2015</span>
                        </div>
                        <div class="body">
                            <p>ndfsnmfsdnmbsdfnmbnmfsbnbfnmbfsnmbfdsnmbsdfmbfbnmm</p>
                        </div>
                    </div>
                </div>
                <div class="comment row">
                    <div class="avatar col-md-3">
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/avatar.png') }}">
                    </div>
                    <div class="cmt col-md-9">
                        <div class="head row">
                            <h3 class="username col-md-5">User Name Here</h3>
                            <span class="date col-md-4">01/01/2015</span>
                        </div>
                        <div class="body">
                            <p>ndfsnmfsdnmbsdfnmbnmfsbnbfnmbfsnmbfdsnmbsdfmbfbnmm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="articles row">
            <div class="title text-center">
                <img src="{{ asset('bundles/hearwegohearwego/images/detail/article_title.png') }}">
            </div>
            <div class="article row">
                <div class="item col-md-4">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">
                    <div class="caption">
                        <p class="title"><a href="#">Caption here</a></p>
                    </div>
                </div>
                <div class="item col-md-4">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh2.jpg') }}">
                    <div class="caption">
                        <p class="title"><a href="#">Caption here</a></p>
                    </div>
                </div>
                <div class="item col-md-4">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                    <div class="caption">
                        <p class="title"><a href="#">Caption here</a></p>
                    </div>
                </div>
                <div class="item col-md-4">
                    <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                    <div class="caption">
                        <p class="title"><a href="#">Caption here</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/reflection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/jquery.interpolate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/jquery.coverflow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hearwegohearwego/js/detail/detail.js') }}"></script>

</body>
</html>