{% extends('default/article.html.twig') %}

{% block title %}
    <title>{{ article.title|upper }}</title>
{% endblock %}

{% block loginform %}

    {% if not app.user %}
        {% render controller('HearWeGoHearWeGoBundle:User:userLogin') %}
    {% else %}



        <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}">
            </div>

            <div class="modal-body">
                <div class="form-group input-group">
                <span class="input-group-addon" id="id_addon"><img
                            src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon">
                    {% if app.user.role is defined %}
                        {{ app.user.name }}
                    {% else %}
                        {{ app.user.firstName }}
                    {% endif %}
                </span>

                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon" id="pass_addon"><img
                                src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}"
                                class="pass_icon"></span>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{{ path('user_logout') }}">
                    <button type="button" class="btn btn-danger">Sign Out</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>



    {% endif %}

{% endblock %}


{% block register %}

    {% if app.user %}
    {% else %}
        {% render controller('HearWeGoHearWeGoBundle:User:register') %}
    {% endif %}
{% endblock %}

{% block reglogbutton %}

    <div class="row my-reg-log-bar">
        <div class="col-md-1">
            <ul class="my-reg-log-bar">
                {% if app.user %}
                    {% if app.user.name is defined %}
                        <a href="{{ path('company_manage') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/Tour.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>
                        <a href="{{ path('company_submit') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/Submit.png') }}">
                            </li>
                        </a>
                    {% else %}
                        {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <a href="{{ path('admin_index') }}">
                                <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                      src="{{ asset('bundles/hearwegohearwego/images/Manage.png') }}">
                                </li>
                            </a>
                        {% endif %}
                        <a href="{{ path('edit_profile') }}">
                            <li class="item"><img type="button" class="icon" data-target=".my-reg-form"
                                                  src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}">
                            </li>
                        </a>

                    {% endif %}
                {% else %}
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form"
                                          src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                {% endif %}
                <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form"
                                      src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
            </ul>
        </div>
    </div>


{% endblock %}


{% block mainarticle %}
    <div class="text col-md-9">
        <div class="title text-center">
            <h2><b>{{ article.title }}</b></h2>
        </div>
        <div class="date">
            <h5><i>{{ article.createdAt|date('m-d-Y') }}</i></h5>
        </div>

        <div class="paragraph">
            <p><img src="{{ article.getWebPath }} " style="max-height: 300px;width:auto">
            </p>
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}



{% block relativearticle %}
    {#<div class="relative-new">#}
        {#<div>#}
            {#<img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">#}
        {#</div>#}
        {#<div class="title">#}
            {#<h2 class="tit">This is a title</h2>#}
            {#<h4 class="date">21 July 2015</h4>#}
        {#</div>#}
        {#<div class="subcontent">#}
            {#<p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended#}
                {#HTML#}
                {#and dynamic code. But as time passed, other template languages - like Twig 1 - were created#}
                {#to make#}
                {#templating even better.</p>#}
        {#</div>#}
    {#</div>#}
    {% for relative in relatives %}
        <div class="relative-new">
            <div>
                <img src="{{ relative.getWebpath }}">
            </div>
            <div class="title">
                <a href="{{ path('article',{'id':relative.id}) }}" style="text-decoration: none"><h2 class="tit">{{ relative.title }}</h2></a>
                <h4 class="date">{{ relative.createdAt|date('Y-m-d') }}</h4>
            </div>
            <div class="subcontent">
                <p>
                    {{  relative.content|striptags|slice(0,10) }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}